<div class="modal-overlay">
  <h2 mat-dialog-title>Video: {{videoIdForDisplay}}</h2>
  <table>
    <tr>
      <td>
        <mat-dialog-content>
          <video controls #videoPlayer>
            <source [src]="videoSrc" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </mat-dialog-content>
      </td>
      <td class="container-fluid">
        <div class="overflow-auto" style="max-height: 100px;">
          <span style="font-family: Arial, Helvetica, sans-serif; font-size: small;">
            <strong>Synopsis:</strong>
            {{synopis}}
          </span>
        </div>
      </td>
      
    </tr>
    <tr>
      <mat-dialog-actions *ngIf="startTimes.length > 0">
        <span>Matched time-stamps: </span>
        <!-- <div class="overflow-auto" style="max-height: 100px; overflow-x: auto; white-space: nowrap;">
          <div *ngFor="let time of startTimes; let i = index">
            <button (click)="seekToStartTime(time)" [ngClass]="{'selected': highlighted[i]}" class="btn m-1" style="background-color: deepskyblue;">{{time}}</button>
          </div>
        </div> -->
        <!-- <div class="overflow-auto" style="max-height: 100px;">
          <div *ngFor="let time of startTimes; let i = index">
            <button (click)="seekToStartTime(time)" [ngClass]="{'selected': highlighted[i]}" class="btn m-1" style="background-color: deepskyblue;">{{time}}</button>
          </div>
        </div> -->
        <div *ngFor="let time of startTimes; let i = index" class="overflow-auto" style="max-height: 100px;">
          <button (click)="seekToStartTime(time)" [ngClass]="{'selected': highlighted[i]}" class="btn m-1" style="background-color: deepskyblue;">{{time}}</button>
        </div>        
      </mat-dialog-actions>
    </tr>
  </table>
  <mat-dialog-actions>
    <button class="btn" (click)="closeDialog()" style="background-color: deepskyblue;">Close</button>
  </mat-dialog-actions>
</div>