<div class="modal-overlay">
  <h2 mat-dialog-title>Video Player</h2>
  <table>
    <tr>
      <td>
        <mat-dialog-content>
          <video controls #videoPlayer>
            <source [src]="videoSrc" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </mat-dialog-content>
      </td>
      <td
      class="container">
        <span style="font-family: Arial, Helvetica, sans-serif;font-size: small;"><strong>Synopis:</strong>
          {{synopis}}</span>
      </td>
    </tr>
    <tr>
      <mat-dialog-actions>
        <div *ngFor="let time of startTimes; let i = index" class="overflow-auto" style="max-height: 100px;">
          <button (click)="seekToStartTime(time)" class="btn m-1" style="background-color: deepskyblue;">Play from :
            {{time}}</button>
        </div>
      </mat-dialog-actions>
    </tr>
  </table>
  <mat-dialog-actions>
    <button class="btn" (click)="closeDialog()" style="background-color: deepskyblue;">Close</button>
  </mat-dialog-actions>
</div>