<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container overflow-auto">
        <div class="row fixed-top lower-z-index" style="height: 70px;">
            <table class="table">
                <tr class="border-bottom border-1">
                    <td style="float: left;">
                        <div class="m-1 p-2">
                            <img src="../assets/images/logo.png" width="150px" height="60px">
                        </div>
                    </td>
                    <td style="float: right;">
                        <br>
                        <!-- <span>Your search archive is: {{selectedArchive}}</span> | 
                        <a href="#" (click)="changeArchive()" class="link-success" style="padding-right: 15px;">Change archive</a> -->
                        <mat-form-field class="bootstrap-dropdown">
                            <mat-label>Select archive</mat-label>
                            <mat-select [(value)]="selectedArchive" class="bootstrap-dropdown-select"
                                (selectionChange)="onArchiveSelectionChange()">
                                <mat-option *ngFor="let key of getObjectKeys(archive_dict)" [value]="key">
                                    {{ key }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- <p>Selected option: {{ selectedArchive }}</p> -->


                    </td>
                </tr>
                <tr>
                    <div class="row-fluid m-2 p-5">
                        <div class="span12 text-center">
                            <span style="font-size: xxx-large; color: deepskyblue;">
                                Add or drop media here to begin your search query
                            </span>
                        </div>
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
                            <span *ngIf="showProgressBar" style="text-align: center;">This may take up to a few
                                minutes...</span>
                        </div>


                    </div>

                    <div class="row">
                        <div class="custom-file span text-center">
                            <div class="col border border-dark container p-1" style="width:1000px;" [ngClass]="{'blur-effect': applyBlurEffect}">
                                <div (drop)="onDrop($event)" (dragover)="onDragOver($event)" class="drop-area">
                                    <h1>Drag and drop file(s) here</h1> <br><br>
                                    <label class="custom-file-label" for="fileInput"
                                        style="text-decoration: underline;">Upload
                                        file(s)</label>
                                    <input id="fileInput" type="file" multiple style="display:none;"
                                        (change)="onFileSelected($event)" #fileInput />
                                </div>
                                <div style="display:inline-block;">

                                    <div class="row-fluid">
                                        <div class="col m-2">
                                            <a href="#"
                                                title="Opens a textbox and you can type a keyword or multiple keywords separated by a semicolon."
                                                (click)="openTextbox('Keyword')" class="link-success">Search via
                                                keyword</a>|
                                            <a href="#"
                                                title="Opens a textbox and you can select a sound event (e.g. laughter etc.) from the list."
                                                (click)="openTextbox('Sound')" class="link-success">Search via sound
                                                event</a>|
                                            <a href="#"
                                                title="Opens a dropdown list of objects and you can select an object."
                                                (click)="openDropdown()" class="link-success">Search via object</a>
                                        </div>
                                        <div class="col">
                                            <input type="button" class="btn" value="Search"
                                                (click)="goToSecondComponent()"
                                                style="width: 150px;height: 50px;background-color: deepskyblue;"
                                                [ngClass]="{'blur-effect': applyBlurEffect_go_btn}" />
                                            &nbsp;
                                            <button (click)="clearImages()"
                                                title="Clears all input elements (e.g. uploaded files, selected objects, keywords, selected sound events)"
                                                class="btn"
                                                style="width: 150px;height: 50px;background-color: deepskyblue;">Clear
                                                all</button>
                                        </div>


                                    </div>



                                    <!-- <div class="input-group mt-1" *ngIf="textboxOpen && !dropdownOpen">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"
                                            style="color: deepskyblue;">Keyword:</span>
                                    </div>
                                    <input type="text" class="form-control" [(ngModel)]="textBoxValue"
                                        placeholder="A keyword or keywords separated by semicolon only"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                    <button (click)="addKeywordsV2(textBoxValue)" class="btn"
                                        style="background-color: deepskyblue;">Add</button>
                                    </div> -->

                                    <div class="input-group m-2" *ngIf="!dropdownOpen && keywordBox && !soundEventBox">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"
                                                style="color: deepskyblue;">Keyword:</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Type keyword here.."
                                            aria-label="Username" aria-describedby="basic-addon1" matInput
                                            [(ngModel)]="textBoxValue" [formControl]="textBoxControl"
                                            (click)="clearInputBox()"
                                            matTooltip="Separate multiple keywords with a semicolon" />
                                        <button (click)="addKeywordsV2(textBoxValue)" class="btn"
                                            style="background-color: deepskyblue;">Add</button>
                                    </div>

                                    <div class="input-group mt-2" *ngIf="!dropdownOpen && soundEventBox && !keywordBox">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"
                                                style="color: deepskyblue;">Sound event:</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Sound event search"
                                            aria-label="Username" aria-describedby="basic-addon1" matInput
                                            [(ngModel)]="textBoxValue" [formControl]="textBoxControl"
                                            (click)="clearInputBox()" [matAutocomplete]="auto"
                                            matTooltip="Select a sound event from autocomplete. To add multiple events, select an event and press Add button and then repeat" />
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                                {{ option }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <button (click)="addKeywordsV2(textBoxValue)" class="btn"
                                            style="background-color: deepskyblue;">Add</button>
                                    </div>


                                    <div *ngIf="dropdownOpen && !textboxOpen">
                                        <button class="btn btn-primary dropdown-toggle m-2"
                                            style="background-color: deepskyblue;" id="dropdownMenuButton" type="button"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Select an object
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                            style="max-height: 150px; overflow-y: auto;">
                                            <a *ngFor="let option of dropdownOptions" class="dropdown-item"
                                                (click)="selectOption(option)" href="#">{{option}}</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="display: flex;">
                        <div class="row p-1" *ngIf="keywords.length > 0 || events.length > 0">
                            <strong>Keywords/Sound events:</strong>
                            <div style="max-width: 150px; max-height: 150px; overflow: auto;">
                                <div *ngFor="let keyword of keywords">
                                    {{ keyword }}
                                </div>
                                <div *ngFor="let event of events">
                                    {{ event }}
                                </div>
                            </div>
                        </div>
                        <div class="row p-1" *ngIf="objects_categories.length > 0">
                            <strong>Objects:</strong>
                            <div style="max-width: 100px; max-height: 150px; overflow: auto;">
                                <div *ngFor="let object of objects_categories">
                                    {{ object }}
                                </div>
                            </div>
                        </div>
                        <div class="row p-1" style="max-height: 200px; overflow: auto;"
                            *ngIf="selectedVideos.length >0 || selectedImages.length > 0 || selectedAudios.length > 0">
                            <strong>Image(s)/Audio(s)/Video(s):</strong>
                            <div *ngFor="let video of selectedVideos; let i = index">
                                <strong>Name:</strong> {{ video.name }} <br>
                                <!-- <strong>Type:</strong> {{ video.type }} <br> -->
                                <video [src]="objectURLs[i]" controls class="img-fluid img-thumbnail" width="200"
                                    height="200">
                                    <source type="video/mp4">
                                    <!-- You may add additional source tags for different video formats -->
                                    Your browser does not support the video tag.
                                </video>
                                <!-- <img [src]="imageSrc" class="uploaded-image" class="img-fluid img-thumbnail" alt="" width="70" height="70"/> -->
                            </div>
                            <div *ngFor="let audio of selectedAudios; let i = index">
                                <strong>Name:</strong> {{ audio.name }} <br>
                                <!-- <strong>Type:</strong> {{ audio.type }} <br> -->
                                <!-- <div style="display: flex;align-items: center; border: 2px;">
                                    <audio [src]="objectURLs[i]" controls>
                                        <source type="audio/wav">
                                        Your browser does not support the audio element.
                                    </audio>&nbsp;&nbsp;
                                    <label
                                        matTooltip="Please check if this audio file contains a sound event e.g. laughter, crying, engine sound etc.">
                                        <input type="checkbox" [(ngModel)]="selectedSoundEvent[i]"
                                            (change)="updateSoundEventStatus(i, $event)" class="form-check-label"> Sound
                                        event?
                                    </label>
                                </div> -->

                                <div class="d-flex align-items-center border p-1">
                                    <audio [src]="objectURLs[i]" controls class="mr-2">
                                        <source type="audio/wav">
                                        Your browser does not support the audio element.
                                    </audio>&nbsp;&nbsp;
                                    <label class="form-check-label"
                                        matTooltip="Please check if this audio file contains a sound event e.g. laughter, crying, engine sound etc.">
                                        <input type="checkbox" [(ngModel)]="selectedSoundEvent[i]"
                                            (change)="updateSoundEventStatus(i, $event)" class="form-check-input"
                                            [ngClass]="{'border-danger': !selectedSoundEvent[i]}">
                                        Sound event?
                                    </label>
                                </div>



                                <!-- <p>{{selectedSoundEvent[i]}}</p> -->
                            </div>
                            <div *ngFor="let image of selectedImages; let i = index">
                                <strong>Name:</strong> {{ image.name }} <br>
                                <!-- <strong>Type:</strong> {{ image.type }} <br> -->
                                <!-- <label>
                                    <input type="checkbox" [(ngModel)]="selectedStatuses[i]"
                                        (change)="updateSelectedStatus(i, $event)"> Scene?
                                </label> <br>
                                <img [src]="objectURLs[i]" class="uploaded-image" class="img-fluid img-thumbnail" alt=""
                                    width="150" height="150" /> -->
                                <div class="d-flex align-items-center border p-1">
                                    <img [src]="objectURLs[i]" class="uploaded-image img-fluid img-thumbnail mr-2"
                                        alt="" width="50" height="50">&nbsp;&nbsp;
                                    <label class="form-check-label"
                                        matTooltip="Please check if this image contains a scene e.g. a beach, a forest, a city etc.">
                                        <input type="checkbox" [(ngModel)]="selectedStatuses[i]"
                                            (change)="updateSelectedStatus(i, $event)" class="form-check-input"
                                            [ngClass]="{'border-danger': !selectedStatuses[i]}">
                                        Scene?
                                    </label>
                                </div>

                            </div>

                            <div class="col span text-center">

                            </div>
                        </div>
                    </div>
                </tr>
            </table>
        </div>
        <div class="container-flex fixed-bottom">
            <div class="col-sm-12 border-top p-1" style="background-color: white;">
                <span style="font-size: small;color: deepskyblue;">
                    Maintained and developed by: MVSE research group, QUB | Version: v2.0 (23-11-2023)
                </span>
            </div>
        </div>
    </div>
</body>

</html>