<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container overflow-auto">
        <div class="row fixed-top lower-z-index" style="height: 70px;">
            <table class="table">
                <tr class="border-bottom border-1">
                    <td style="float: left;">
                        <div class="m-1 p-2">
                            <img src="../assets/images/logo.png" width="150px" height="60px">
                        </div>
                    </td>
                    <td style="float: right;">
                        <br>
                        <!-- <span>Your search archive is: {{selectedArchive}}</span> | 
                        <a href="#" (click)="changeArchive()" class="link-success" style="padding-right: 15px;">Change archive</a> -->
                        <mat-form-field class="bootstrap-dropdown">
                            <mat-label>Select archive</mat-label>
                            <mat-select [(value)]="selectedArchive" class="bootstrap-dropdown-select"
                                (selectionChange)="onArchiveSelectionChange()">
                                <mat-option *ngFor="let key of getObjectKeys(archive_dict)" [value]="key">
                                    {{ key }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- <p>Selected option: {{ selectedArchive }}</p> -->


                    </td>
                </tr>
                <tr>
                    <div class="row-fluid m-2 p-5">
                        <div class="span12 text-center">
                            <span style="font-size: xxx-large; color: deepskyblue;">
                                Add or drop media here to begin your search query
                            </span>
                        </div>
                        <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
                    </div>

                    <div class="row">
                        <div class="custom-file span text-center">
                            <div class="col border border-dark container p-1" style="width:fit-content;">
                                <div (drop)="onDrop($event)" (dragover)="onDragOver($event)" class="drop-area">
                                    <label class="custom-file-label" for="fileInput"
                                        style="text-decoration: underline;">Upload
                                        file(s)</label>
                                </div>
                                <div [ngClass]="{'blur-effect': applyBlurEffect}" style="display:inline-block;">
                                    <!-- <img src="../assets/images/link-file.png" width="30px" height="30px" /> -->
                                    <!-- <label class="custom-file-label" for="fileInput"
                                        style="width: 200px;height: auto;margin-right: 100px; text-decoration: underline;">Upload
                                        file(s)</label> -->
                                    <input id="fileInput" type="file" multiple style="display:none;"
                                        (change)="onFileSelected($event)" #fileInput />

                                    <div class="container">
                                        <a href="#" (click)="openTextbox('Keyword')" class="link-success">From
                                            Keyword</a>|
                                        <a href="#" (click)="openTextbox('Sound')" class="link-success">From Sound
                                            event</a>|
                                        <a href="#" (click)="openDropdown()" class="link-success">From Object</a>
                                        <input type="button" class="btn" value="Go" (click)="goToSecondComponent()"
                                            style="width: 70px;height: 70px;background-color: deepskyblue;"
                                            [ngClass]="{'blur-effect': applyBlurEffect_go_btn}" />
                                        &nbsp;
                                        <button (click)="clearImages()" class="btn"
                                            style="width: 70px;height: 70px;background-color: deepskyblue;">Clear</button>
                                    </div>



                                    <!-- <div class="input-group mt-1" *ngIf="textboxOpen && !dropdownOpen">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"
                                            style="color: deepskyblue;">Keyword:</span>
                                    </div>
                                    <input type="text" class="form-control" [(ngModel)]="textBoxValue"
                                        placeholder="A keyword or keywords separated by semicolon only"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                    <button (click)="addKeywordsV2(textBoxValue)" class="btn"
                                        style="background-color: deepskyblue;">Add</button>
                                    </div> -->

                                    <div class="input-group mt-1" *ngIf="!dropdownOpen && keywordBox && !soundEventBox">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"
                                                style="color: deepskyblue;">Keyword:</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Type keyword here.."
                                            aria-label="Username" aria-describedby="basic-addon1" matInput
                                            [(ngModel)]="textBoxValue" [formControl]="textBoxControl"
                                            (click)="clearInputBox()"
                                            matTooltip="Separate multiple keywords with a semicolon" />
                                        <button (click)="addKeywordsV2(textBoxValue)" class="btn"
                                            style="background-color: deepskyblue;">Add</button>
                                    </div>

                                    <div class="input-group mt-1" *ngIf="!dropdownOpen && soundEventBox && !keywordBox">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"
                                                style="color: deepskyblue;">Sound event:</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Sound event search"
                                            aria-label="Username" aria-describedby="basic-addon1" matInput
                                            [(ngModel)]="textBoxValue" [formControl]="textBoxControl"
                                            (click)="clearInputBox()" [matAutocomplete]="auto"
                                            matTooltip="Select a sound event from autocomplete. To add multiple events, repeat selection and press Add button" />
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                                {{ option }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <button (click)="addKeywordsV2(textBoxValue)" class="btn"
                                            style="background-color: deepskyblue;">Add</button>
                                    </div>


                                    <div *ngIf="dropdownOpen && !textboxOpen">
                                        <button class="btn btn-primary dropdown-toggle"
                                            style="background-color: deepskyblue;" id="dropdownMenuButton" type="button"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Select an object
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                            style="max-height: 150px; overflow-y: auto;">
                                            <a *ngFor="let option of dropdownOptions" class="dropdown-item"
                                                (click)="selectOption(option)" href="#">{{option}}</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="display: flex;">
                        <div class="row p-1" *ngIf="keywords.length > 0 || events.length > 0">
                            <strong>Keywords/Sound events:</strong>
                            <div style="max-width: 150px; max-height: 150px; overflow: auto;">
                                <div *ngFor="let keyword of keywords">
                                    {{ keyword }}
                                </div>
                                <div *ngFor="let event of events">
                                    {{ event }}
                                </div>
                            </div>
                        </div>
                        <div class="row p-1" *ngIf="objects_categories.length > 0">
                            <strong>Objects:</strong>
                            <div style="max-width: 100px; max-height: 150px; overflow: auto;">
                                <div *ngFor="let object of objects_categories">
                                    {{ object }}
                                </div>
                            </div>
                        </div>
                        <div class="row p-1" style="max-height: 250px; overflow: auto;"
                            *ngIf="selectedVideos.length >0 || selectedImages.length > 0 || selectedAudios.length > 0">
                            <strong>Image(s)/Audio(s)/Video(s):</strong>
                            <div *ngFor="let video of selectedVideos; let i = index">
                                <strong>Name:</strong> {{ video.name }} <br>
                                <strong>Type:</strong> {{ video.type }} <br>
                                <video [src]="objectURLs[i]" controls class="img-fluid img-thumbnail" width="150"
                                    height="150">
                                    <source type="video/mp4">
                                    <!-- You may add additional source tags for different video formats -->
                                    Your browser does not support the video tag.
                                </video>
                                <!-- <img [src]="imageSrc" class="uploaded-image" class="img-fluid img-thumbnail" alt="" width="70" height="70"/> -->
                            </div>
                            <div *ngFor="let audio of selectedAudios; let i = index">
                                <strong>Name:</strong> {{ audio.name }} <br>
                                <strong>Type:</strong> {{ audio.type }} <br>
                                <div style="display: flex;align-items: center; border: 2px;">
                                    <audio [src]="objectURLs[i]" controls>
                                        <source type="audio/wav">
                                        Your browser does not support the audio element.
                                    </audio>&nbsp;
                                    <label matTooltip="Does the audio file contain a sound event e.g. laughter, crying, engine sound etc.">
                                        <input type="checkbox" [(ngModel)]="selectedSoundEvent[i]" (change)="updateSoundEventStatus(i, $event)"> Sound event?
                                    </label>
                                </div>
                               
                                
                                <!-- <p>{{selectedSoundEvent[i]}}</p> -->
                            </div>
                            <div *ngFor="let image of selectedImages; let i = index">
                                <strong>Name:</strong> {{ image.name }} <br>
                                <strong>Type:</strong> {{ image.type }} <br>
                                <label>
                                    <input type="checkbox" [(ngModel)]="selectedStatuses[i]"
                                        (change)="updateSelectedStatus(i, $event)"> Scene?
                                </label> <br>
                                <img [src]="objectURLs[i]" class="uploaded-image" class="img-fluid img-thumbnail" alt=""
                                    width="150" height="150" />
                            </div>

                            <div class="col span text-center">

                            </div>
                        </div>
                    </div>
                </tr>
            </table>
        </div>
        <div class="container-flex fixed-bottom">
            <div class="col-sm-12 border-top p-1" style="background-color: white;">
                <span style="font-size: small;color: deepskyblue;">
                    Maintained and developed by: MVSE research group, QUB | Version: v2.0 (23-11-2023)
                </span>
            </div>
        </div>
    </div>
</body>

</html>