<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container overflow-auto">
        <div class="row fixed-top" style="height: 70px;">
            <table class="table">
                <tr class="border-bottom border-1">
                    <td style="float: left;">
                        <div class="m-1 p-2">
                            <img src="../assets/images/logo.png" width="150px" height="60px">
                        </div>
                    </td>
                    <td style="float: right;">
                        <div class="container m-2 p-3">
                            <a style="font-size: large; color: deepskyblue;">Home</a> |
                            <a style="font-size: large; color: deepskyblue;">Search History</a> |
                            <a style="font-size: large; color: deepskyblue;">Library</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <div class="row m-2">
                        <div class="container">
                            <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
                        </div>

                        <div class="col-sm-2" *ngIf="frames.length > 0">
                            <span
                                style="color: deepskyblue;font-family: Arial, Helvetica, sans-serif;font-size: large;">Select
                                video frame</span>
                        </div>
                        <div class="col-sm-3" *ngIf="audios.length > 0">
                            <span
                                style="color: deepskyblue;font-family: Arial, Helvetica, sans-serif;font-size: large;">Select
                                audio clip</span>
                        </div>
                        <div class="col-sm-7">
                            <span
                                style="color: deepskyblue;font-family: Arial, Helvetica, sans-serif;font-size: large;">Search
                                results <span style="font-size: large;">(top {{videoList.length}} segments
                                    found)</span></span>
                        </div>
                    </div>
                </tr>
                <tr *ngIf="isAnalysis">
                    <div class="row m-2">
                        <div class="col-sm-2 overflow-auto" style="max-height: 500px;" *ngIf="frames.length > 0"
                            [ngClass]="{'blur-effect': applyBlurEffect}">
                            <div class="m-2" *ngFor="let frame of frames; let i = index"
                                [ngClass]="{'selected': isImageSelected(frame)}" (click)="toggleImageSelection(frame)">
                                <div class="video-wrapper border p-3">
                                    <img [src]="frame" [class.selected]="isImageSelected(frame)"
                                        class="img-thumbnail" alt="" width="100" height="100" /><br>
                                    <label><span
                                            style="font-family: Arial, Helvetica, sans-serif;font-size: smaller;">Time:
                                            {{frames_stamp[i]}}s</span></label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3" *ngIf="audios.length > 0" [ngClass]="{'blur-effect': applyBlurEffect}">
                            <div class="overflow-auto" style="max-height: 500px;">
                                <div class="col-md-4 mb-2" *ngFor="let audio of audios; let i = index"
                                    [ngClass]="{'selected': isAudioSelected(audio)}"
                                    (click)="toggleAudioSelection(audio)">
                                    <div class="audio-wrapper border rounded p-3">
                                        <audio [src]="audio" controls>
                                            <source type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio><br>
                                        <label><span
                                                style="font-family: Arial, Helvetica, sans-serif;font-size: smaller;">Time:
                                                {{audios_stamp[i]}}s</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <!-- <div *ngIf="showVideoOverlay" class="video-overlay">
                                <div class="modal-content">
                                    <video width="640" height="360" controls [src]="source_video">
                                        Your browser does not support the video tag.
                                    </video>
                                    <button (click)="closeVideoOverlay()">Close</button>
                                </div>
                            </div> -->
                            <div class="container m-1" [ngClass]="{'blur-effect': applyBlurEffect}">
                                <table class="table">
                                    <tr *ngIf="topics.length > 0">
                                        <span
                                            style="color: deepskyblue; font-family: Arial, Helvetica, sans-serif; font-size: medium;">Topics:</span>
                                        <ng-container *ngFor="let topic of topics; let i = index">
                                            <input type="checkbox" [(ngModel)]="topic.selected"
                                                (change)="toggleTopicSelection(topic)">
                                            <span
                                                style="background-color: silver; border-radius: 5px; font-family: Arial, Helvetica, sans-serif; font-size: smaller;margin-left: 2px;margin-right: 2px;">
                                                {{topic.topic}}
                                            </span>
                                        </ng-container>
                                    </tr>
                                    <!-- <tr *ngIf="Scenes.length > 0">
                                        <span
                                            style="color: deepskyblue; font-family: Arial, Helvetica, sans-serif; font-size: medium;">Scenes:</span>
                                        <ng-container *ngFor="let frame of Scenes; let i = index">
                                            <input type="checkbox">
                                            <img [src]="frame" [class.selected]="isImageSelected(frame)"
                                                class="uploaded-image" class="img-fluid img-thumbnail" alt="" width="70"
                                                height="70" />
                                        </ng-container>
                                    </tr> -->
                                    <tr>
                                        <div class="row overflow-auto mt-1" style="max-height: 500px;">
                                            <div class="col-md-2" *ngFor="let videoUrl of videoList">
                                                <div class="rounded border-dark border m-1">
                                                    <img [src]="videoUrl" controls class="w-100"
                                                        style="width: 100px;height: 100px;"
                                                        (click)="onPosterClick(videoUrl)" (error)="handleImageError($event)" />
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                </table>
                            </div>


                            <!-- <div class="row overflow-auto" style="max-height: 500px;">
                                <div class="col-md-4" *ngFor="let videoUrl of videoList">
                                    <div class="video-wrapper border m-1">
                                        <img [src]="videoUrl" controls class="w-100" style="width: 100px;height: 120px;"
                                            (click)="onPosterClick(videoUrl)" />
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div>
                </tr>
                <tr *ngIf="!isAnalysis">
                    <div class="row m-3 overflow-auto" [ngStyle]="{'max-height': dynamicMaxHeight()}">
                        <div class="video-wrapper border m-1 col-md-1" *ngFor="let video of videoList" >
                            <img [src]="video" controls class="w-100" style="width: 100px;height: 120px;"
                                (click)="onPosterClick(video)" />
                        </div>
                    </div>
                </tr>
                <tr *ngIf="isAnalysis">
                    <div class="container fixed-bottom mb-5">
                        <button (click)="search()" class="btn"
                            *ngIf="(frames.length > 0 || audios.length > 0) ? true : false"
                            style="width: 500px;height: 50px;background-color: deepskyblue;" (click)="search()"
                            [ngClass]="{'blur-effect': applyBlurEffect}">Select
                            frame(s) and/or
                            audio(s) and search</button>
                    </div>
                </tr>
            </table>
        </div>
        <div class="container-flex fixed-bottom">
            <div class="col-sm-12 border-top p-1" style="background-color: white;">
                <span style="font-size: small;color: deepskyblue;">
                    Maintained and developed by: MVSE research group, QUB | Version: v1.5 (31-03-2023)
                </span>
            </div>
        </div>
    </div>
</body>

</html>